In [64]:
# import pandas as pd
import pandas as pd

# Creating empty series
ser = pd.Series([4,8,15,23,42])

print(ser)

0     4
1     8
2    15
3    23
4    42
dtype: int64

In [65]:
list = ['John Deo'
,'Max Ruin',
'Arnold',
'Krish Star',
'John Mike',
'Alex John', 'My John Rob', 'Asruid', 'Tes Qry','Big John']

In [66]:
list

['John Deo',
 'Max Ruin',
 'Arnold',
 'Krish Star',
 'John Mike',
 'Alex John',
 'My John Rob',
 'Asruid',
 'Tes Qry',
 'Big John']

In [67]:
import pandas as pd
ser = pd.Series(list)
print(ser)

0       John Deo
1       Max Ruin
2         Arnold
3     Krish Star
4      John Mike
5      Alex John
6    My John Rob
7         Asruid
8        Tes Qry
9       Big John
dtype: object

In [68]:
#Question 3rd

In [116]:
import pandas as pd

data  = {'Name': ['Alice', 'Bob', 'Claire'],
      'Age': [25, 30, 27],
      'Gender' : ['Female', 'Male', 'Female']}
              
pd.DataFrame(data, index = [1,2,3])

     Name  Age  Gender
1   Alice   25  Female
2     Bob   30    Male
3  Claire   27  Female

In [70]:
# What is a DataFrame in pandas?

In [71]:
'''DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.'''

'DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.'

In [72]:
What is the difference between series array and DataFrame?
If a Series is an analog of a one-dimensional array with flexible indices, a DataFrame is an analog of a two-dimensional array with both flexible row indices and flexible column names.

SyntaxError: invalid syntax (3823253487.py, line 2)

In [73]:
#What is the difference between series array and DataFrame?

In [74]:
'''If a Series is an analog of a one-dimensional array with flexible indices, a DataFrame is an analog of a two-dimensional array with both flexible row indices and flexible column names.'''

'If a Series is an analog of a one-dimensional array with flexible indices, a DataFrame is an analog of a two-dimensional array with both flexible row indices and flexible column names.'

In [75]:
import pandas as pd

# Create a Pandas Series from a list
data = [1000, 2000, 3000, 4000, 5000]
s = pd.Series(data)

# Print the Series
print(s)

0    1000
1    2000
2    3000
3    4000
4    5000
dtype: int64

In [76]:
import pandas as pd

# Create a Pandas Series from a list
data = [1000, 2000, 3000, 4000, 5000]
s = pd.DataFrame(data, columns = ['Column1'])

# Print the Series
print(s)

   Column1
0     1000
1     2000
2     3000
3     4000
4     5000

In [77]:
#What are some common functions you can use to manipulate data in a Pandas DataFrame? Canyou give an example of when you might use one of these functions?

In [78]:
#head() = for the use of head in DataFrame, we can retrive the data top 5.

In [79]:
#Tail() = For the use of tail in DataFrame, we can retrive and manipulate the data bottom five.

In [81]:
#data.columns = retrive the data only name of column list

In [82]:
# data['name']  = if the one of columns name is name, then we can retrive the data only the name which is in the name columns.

In [83]:
''' Q6 = Which of the following is mutable in nature Series, DataFrame, Panel?'''

' Q6 = Which of the following is mutable in nature Series, DataFrame, Panel?'

In [95]:
'''Series: 1D labeled, homogeneous array, sizeimmutable.'''

'Series: 1D labeled, homogeneous array, sizeimmutable.'

In [96]:
'''Data Frames:  General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed columns.'''

'Data Frames:  General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed columns.'

In [97]:
'''Panel: General 3D labeled, size-mutable array.'''

'Panel: General 3D labeled, size-mutable array.'

In [98]:
#Create a DataFrame using multiple Series. Explain with an example.

In [127]:
import pandas as pd

author = ['Jitender', 'Purnima',
          'Arpit', 'Jyoti']
ser_author = pd.Series(author)

article = [1000, 2000, 3000, 4000]
ser_article = pd.Series(article)

data = {'author': ser_author, 'article': ser_article}
s = pd.DataFrame(data)

# Print the Series
print(s)

     author  article
0  Jitender     1000
1   Purnima     2000
2     Arpit     3000
3     Jyoti     4000